* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #5150b2da;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.box {
  padding: 20px;
  background-color: rgb(27, 24, 117);
  border-radius: 10px;
  margin-top: 100px;
  width: 300px;
  text-align: center;
  color: #ffffff;
}
.form{
height:40px;
width:100%;
border: 2px solid rgb(37, 43, 196);
border-radius: 8px;
display:flex;
}
.form>input{
outline:none;
border:none;
background:none;
color:#ffffff;
width: 100%;
height:100%;
padding-left: 10px;
}
.form>button{
border:none;
background-color:rgb(37, 43, 196);
border-radius: 5px;
color: #ffffff;
width:50px;
cursor: pointer;
}

.todo{
margin-top: 10px;
background-color:rgb(157, 0, 255);
border-radius: 8px;
height:40px;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

